<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>894943159186-3cturvonl9ohufj06obst19h97ug0sgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894943159186-3cturvonl9ohufj06obst19h97ug0sgu</string>
	<key>API_KEY</key>
	<string>AIzaSyCdqzav1B5GUcqaGzJZQSlFsWdrunlbljQ</string>
	<key>GCM_SENDER_ID</key>
	<string>894943159186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dozer.dozerApp</string>
	<key>PROJECT_ID</key>
	<string>dozerapp-4f47a</string>
	<key>STORAGE_BUCKET</key>
	<string>dozerapp-4f47a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894943159186:ios:517875b2cd03ac6e</string>
	<key>DATABASE_URL</key>
	<string>https://dozerapp-4f47a.firebaseio.com</string>
</dict>
</plist>